<h3>Apple Service Server (<%= $VERSION %>) </h3>
<p/>
<p>
  Author: Eiffel(Q) <br/>
  Email: <a href="mailto:eiffelqiu@gmail.com"> eiffelqiu@gmail.com </a> <br/>
  QQ:  1053568  <br/>
  Github: <a href="https://github.com/eiffelqiu/"> https://github.com/eiffelqiu/ </a>
<p/>
<p><a href="https://github.com/eiffelqiu/ass" class="btn btn-primary btn-large">Learn more ASS &raquo;</a></p>