<h3>Apple Service Server (<%= $VERSION %>) </h3>
<p/>
<p><b>
  author: Eiffel(Q) <br/>
  email: <a href="mailto:eiffelqiu@qq.com"> eiffelqiu@gmail.com </a> <br/>
  github: <a href="https://github.com/eiffelqiu/"> https://github.com/eiffelqiu/ </a>
</b>
<p/>
<p><a href="https://github.com/eiffelqiu/ass" class="btn btn-primary btn-large">Learn more ASS &raquo;</a></p>