<h3>Apple Service Server (<%= $VERSION %>) </h3>
<p/>
<p>
	Oops , you got an error : <%= @error %>
<p/>
<p><a href="https://github.com/eiffelqiu/ass" class="btn btn-primary btn-large">Learn more ASS &raquo;</a></p>