<h3>Apple Service Server Usage: </h3>
<pre class="prettyprint linenums">
    1: How to register notification? (Client Side)
    
    In AppDelegate file, inside didRegisterForRemoteNotificationsWithDeviceToken method access url below to register device token:

    http://serverIP:4567/v1/apps/{yourapp}/DeviceToken

    2: How to send push notification? (Server Side)

    $ curl http://localhost:4567/v1/apps/{yourapp}/push/{message}/{pid}

    Note:
    param1 (message): push notification message you want to send, remember the message should be html escaped
    param2 (pid    ): unique string to mark the message, for example current timestamp or md5/sha1 digest, db table ID
</pre>

