<hr>

<table class="table table-striped table-bordered table-condensed">
	<table>
	    <thead>
	        <tr>
	            <th>app</th>
	            <th>device token</th>
	        </tr>
	    </thead>
		<% @o.each { |data| %>
	    <tbody>
	        <tr>
	            <td>#{data.app}</td>
	            <td>#{data.token}</td>
	        </tr>
	    </tbody>
		<% } %>
</table>

<hr>	
