	<p>
		<table class="table-striped table-bordered table-condensed">
			    <thead>
			        <tr>
			            <th>app</th>
			            <th>device token</th>
			        </tr>
			    </thead>
			    <tbody>
						 <% @o.each { |x| %>
			        <tr>
			            <td><%= x[:app] %></td>
			            <td><%= x[:token] %></td>
			        </tr>
						<% } %>					
			    </tbody>
		</table>
	</p>